body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #ededed;
}

input,
button {
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: block;
}
button {
  display: block;
  border-radius: 30px;
  color: rgb(20, 9, 9);
  font-size: 15px;
  cursor: pointer;
  margin-top: 2px;
}
